<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서 - 나상진</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/_layouts/css/styles.css">
    <script src="https://kit.fontawesome.com/7ec0eb1278.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container header-container">
        <div class="header-left">
            <h1>나상진</h1>
            <div id="introduce">임베디드 소프트웨어 개발자</div>
        </div>
        <div class="header-right">
            <a href="https://github.com/Ns-Jin" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <p>
                Email: <a href="mailto:sktkdwls1222@pusan.ac.kr" target="_blank">sktkdwls1222@pusan.ac.kr</a>
            </p>
            <p>
                Web: <a href="https://ns-jin.github.io" target="_blank" class="">https://ns-jin.github.io</a>
            </p>
        </div>
    </div>

    <section id="aboutMe">
        <h2>About Me</h2>
        <div id="aboutMe_description">
            부산대학교 정보컴퓨터공학을 전공중이며, 뛰어난 임베디드 소프트웨어 개발자가 되기 위해 노력하고 있습니다.<br>
            인턴 경험을 통해 임베디드 보드 펌웨어 개발, 인공지능 교육 웹 플랫폼 제작 등을 해왔습니다.<br>
            효율적인 팀 개발을 위한 소통과 적극적인 자세를 중요하게 생각합니다.
        </div>
    </section>

    <section id="experience">
        <h2>Experience</h2>

        <div class="experience_container">
            <div class="info">
                <h4>감바랩스</h4>
                <a href="https://gambalabs.ai/" target="_blank">https://gambalabs.ai/</a>
                <p class="experience_role">인턴</p>
                <p class="experience_date">2023.06 ~ 현재</p>
            </div>
            <div class="details">
                <p class="outline">Tiny ML 기술을 사용한 인공지능 교육 웹 플랫폼 제작</p>
                <ul>
                    <li>개발 총괄로 참여하여 Web, 임베디드 보드 펌웨어 개발 모두 참여하여 높은 기여를 함</li>
                    <li>클라이언트 측에서 인공지능 학습이 가능한 웹 플랫폼 제작</li>
                    <li>Tiny ML을 이용한 임베디드 보드 펌웨어 개발 및 유지 보수</li>
                    <li>프로젝트 결과물을 인정 받아 부산대학교 대표로 SW인재페스티벌 참가 자격 획득</li>
                    <li>해당 프로젝트를 부산대학교 정보컴퓨터공학과의 학과 행사인 Techweek에서 학부생 약 130명을 대상으로 시연, 체험을 진행</li>
                </ul>
            </div>
        </div>

        <div class="experience_container">
            <div class="info">
                <h4>2023 SW인재페스티벌</h4>
                <p class="experience_role">팀장</p>
                <p class="experience_award">[특별상] 한국공개소프트웨어협회장상 수상</p>
                <p class="experience_date">2023.11.03 ~ 2023.11.04</p>
            </div>
            <div class="details">
                <p class="outline">AI-PT: AI Personal Trainer</p>
                <ul>
                    <li>부산대학교 대표, 팀장으로 행사에 참여</li>
                    <li>다양한 행사 관람객들에게 프로젝트를 소개하고 인공지능 학습 체험 도우며 우수작품관 부스를 운영</li>
                    <li>51개의 SW중심대학학교의 대표 우수 작품들 가운데 10위를 하여 특별상 수상</li>
                </ul>
            </div>
        </div>

        <div class="experience_container">
            <div class="info">
                <h4>Techweek TinyML Challenge</h4>
                <p class="experience_role">팀장</p>
                <p class="experience_award">[금상] 부산대학교 정보의생명공학대학장상</p>
                <p class="experience_date">2023.11.02</p>
            </div>
            <div class="details">
                <p class="outline">TinyML의 활용가능성과 우수성을 보여주는 RC카 제작</p>
                <ul>
                    <li>부산대학교 정보컴퓨터공학과의 학과 행사인 Techweek의 TinyML Challenge에 팀원 2명과 함께 팀장으로 참여</li>
                    <li>임베디드 보드와 상호 통신하는 Web 개발</li>
                    <li>RC카 제어와 Web과의 BLE 통신을 위한 ESP32-s3 임베디드 개발보드의 펌웨어 개발</li>
                    <li>직접 제시한 참신한 아이디어로 완성도 높은 결과물에 큰 기여를 하여 총 11팀중 1위를 하여 금상 수상</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Embedded Systems</li>
            <li>C/C++ Programming</li>
            <li>Tiny ML(Tensorflow lite for micro)</li>
        </ul>
    </section>

    <section id="education">
        <h2>Education</h2>
        <ul>
            <li>부산대학교 정보컴퓨터공학전공(2019.03~) 재학중</li>
        </ul>
    </section>
</body>
</html>
